:root {	--nc-size: 420px; }
@media only screen and (max-width: 600px) {
	:root { --nc-size: 100%; }
}

body{ background: #181818; color: white; font-family: 'Roboto', 'Open Sans', sans-serif; }
section.main h1{ width: var(--nc-size); text-align: center; margin-left: auto; margin-right: auto; font-weight: normal; font-family: "BN Jinx", 'Roboto', 'Open Sans', sans-serif; font-size: 50px; }
p{ font-size: 14px; }

.container{ max-width: 1300px; width: 100%; margin: 0 auto; }
.text-center{ text-align: center; }

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-md-4, .col-md-8, .col-xs-12{
	position: relative;
	min-height: 1px;
	padding: 0 15px;
}

.col-xs-12{ width: 100% }
@media (min-width: 768px) {
	.col-sm-12 {
		float: left;
		width: 100%;
	}
}
@media (min-width: 992px) {
	.col-md-4{ float: left; width: 33.3%; }
	.col-md-8{ float: left; width: 66.7%; }
}

main:not(.full){max-width: var(--nc-size); width: var(--nc-size); margin: 0 auto;}
main.full{margin: 0 auto;}
main.full h1:first-child{text-align: center;}
section.main, section.social{margin: 0 15px;}
section.til{margin: 15px 0;}
section.til blockquote{ padding: 5px 10px; border-left: 5px solid grey; }
section.til blockquote p{ margin: 2px; }


section.social ul{ list-style: none; margin: 0 auto; padding: 0; display: table; }
section.social ul li{ float: left; font-size: 36px; padding: 0 10px; }
section.social ul li a{ text-decoration: none; color: #ccc; transition: all .2s;  }

a{text-decoration: none; color: #EEE; font-weight: bold;}
a:hover{color: #999;}

.fa-twitter:hover, .fa-telegram:hover{ color: #1da1f2; }
.fa-instagram:hover{ background: -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.fa-youtube:hover{ color: red; }
.fa-github:hover{ color: #444; }
.fa-linkedin:hover{ color: #0084bf; }
.fa span.label{ display: none; }
/* .fa:hover{ text-shadow: 0px 0px 2px rgba(255, 255, 255, 1); } */
